<!-- {{ wodObs$ | async | json }} -->

<p-tabView>
  <p-tabPanel header="WOD">
    <div class="p-d-flex p-flex-column p-ai-center">
      <h1>{{ (wodObs$ | async)?.description }}</h1>
      <h2>{{ (wodObs$ | async)?.sub }}</h2>
      <h2>
        {{ (wodObs$ | async)?.wod }}
      </h2>
    </div>
  </p-tabPanel>
  <p-tabPanel header="TIMES">
    <p-accordion>
      <ng-template #noEntry>
        <h2>no entry</h2>
      </ng-template>
      <ng-container *ngIf="(wodObs$ | async)?.time; else noEntry">
        <p-accordionTab
          *ngFor="let item of (wodObs$ | async)?.time"
          header="{{ item.created }}"
        >
          <span>total time: {{ item.minutes }} : {{ item.seconds }} </span>

          <p-table
            *ngIf="item.rounds"
            [value]="item.rounds.allRounds"
            [scrollable]="true"
            scrollHeight="200px"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Round</th>
                <th>Minutes</th>
                <th>Seconds</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.round }}</td>
                <td>{{ item.minutes }}</td>
                <td>{{ item.seconds }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
      </ng-container>
    </p-accordion>
  </p-tabPanel>
</p-tabView>
<app-timer></app-timer>
