<p-dialog header="Log in" [(visible)]="display">
  <div class="p-inputgroup p-m-2">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="text" pInputText placeholder="Username" />
  </div>
  <div class="p-inputgroup p-m-2">
    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
    <input type="password" pInputText placeholder="Password" />
  </div>
  <button pButton type="button" class="p-m-2" (click)="logIn()">
    Log in auto
  </button>
</p-dialog>

<button
  *ngIf="!fireUser; else out"
  pButton
  type="button"
  label="LogIn"
  class="p-button-outlined p-button-rounded"
  icon="pi pi-users"
  (click)="showDialog()"
></button>

<ng-template #out>
  <button
    pButton
    type="button"
    label="LOGOUT"
    class="p-button-outlined p-button-rounded"
    icon="pi pi-out"
    (click)="logoutlocal()"
  ></button>
</ng-template>
