<p-messages></p-messages>
<p-dialog header="Log in" [(visible)]="display">
  <p-tabView>
    <p-tabPanel header="Log In">
      <form [formGroup]="userForm">
        <div class="p-inputgroup p-m-2">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input
            type="text"
            pInputText
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <div class="p-inputgroup p-m-2">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input
            type="password"
            pInputText
            formControlName="password"
            placeholder="Password"
          />
        </div>
      </form>
      <button
        pButton
        type="button"
        type="submit"
        class="p-m-2"
        (click)="logIn()"
      >
        Log in auto
      </button>
    </p-tabPanel>
    <p-tabPanel header="Register">
      <form [formGroup]="userForm">
        <div class="p-inputgroup p-m-2">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input
            type="text"
            pInputText
            formControlName="username"
            placeholder="User name"
          />
        </div>
        <div class="p-inputgroup p-m-2">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input
            type="text"
            pInputText
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <div class="p-inputgroup p-m-2">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input
            type="password"
            pInputText
            formControlName="password"
            placeholder="Password"
          />
        </div>
      </form>
      <button
        pButton
        type="submit"
        type="button"
        class="p-m-2"
        (click)="register()"
      >
        Register
      </button>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
<button
  *ngIf="auth.user | async; else login"
  pButton
  type="button"
  label="LOGOUT"
  class="p-button-outlined p-button-rounded"
  icon="pi pi-out"
  (click)="logoutlocal()"
></button>
<ng-template #login>
  <button
    pButton
    type="button"
    label="LogIn"
    class="p-button-outlined p-button-rounded"
    icon="pi pi-users"
    (click)="showDialog()"
  ></button>
</ng-template>
