/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
html {
  font-family: "Nanum Pen Script", cursive;
  background-color: #24252d;
  color: whitesmoke;
}
